node-red/flows.json
[
  {
    "id": "tab-weather",
    "type": "tab",
    "label": "Weather Pipeline",
    "disabled": false,
    "info": "Subscribes to both local sensor and cloud weather topics.\nBroker: mqtt-demo-broker:1883 (shared podman network)"
  },
  {
    "id": "broker-local",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mqtt-demo-broker",
    "port": "1883",
    "clientid": "node-red-weather",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "mqtt-in-local",
    "type": "mqtt in",
    "name": "Local Sensor",
    "topic": "home/weather/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 120,
    "z": "tab-weather",
    "wires": [["json-local"]]
  },
  {
    "id": "json-local",
    "type": "json",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 120,
    "z": "tab-weather",
    "wires": [["format-local"]]
  },
  {
    "id": "format-local",
    "type": "function",
    "name": "Format",
    "func": "const d = msg.payload;\nmsg.payload = `${d.location}: ${d.temp_f}°F  💧${d.humidity_pct}%  ⬇${d.pressure_hpa}hPa`;\nreturn msg;",
    "outputs": 1,
    "x": 490,
    "y": 120,
    "z": "tab-weather",
    "wires": [["debug-local"]]
  },
  {
    "id": "debug-local",
    "type": "debug",
    "name": "Local Sensor",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 660,
    "y": 120,
    "z": "tab-weather"
  },
  {
    "id": "mqtt-in-cloud",
    "type": "mqtt in",
    "name": "Cloud Weather",
    "topic": "meetup/weather/+/all",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 240,
    "z": "tab-weather",
    "wires": [["json-cloud"]]
  },
  {
    "id": "json-cloud",
    "type": "json",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 240,
    "z": "tab-weather",
    "wires": [["format-cloud"]]
  },
  {
    "id": "format-cloud",
    "type": "function",
    "name": "Format",
    "func": "const d = msg.payload;\nmsg.payload = `${d.city}: ${d.temp_f}°F  💧${d.humidity_pct}%  💨${d.wind_mph}mph  ${d.condition}`;\nreturn msg;",
    "outputs": 1,
    "x": 490,
    "y": 240,
    "z": "tab-weather",
    "wires": [["debug-cloud"]]
  },
  {
    "id": "debug-cloud",
    "type": "debug",
    "name": "Cloud Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 660,
    "y": 240,
    "z": "tab-weather"
  }
]
